*.iml
.gradle/
.idea/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
app/src/main/jniLibs/

# octopus 上游源码（保持与上游一致的忽略）
octopus/web/node_modules/
octopus/web/dist/
octopus/data/
octopus/*.exe

# IDE / 系统
.kotlin/
.idea/*
.DS_Store
*.keystore
*.jks

# 构建产物
dist/
.artifacts/
